* {
               padding: 0px;
               margin: 0px;
               box-sizing: border-box;
}

body {
               background-color: rgb(10, 200, 50);
               height: 100vh;
               display: flex;
               align-items: center;
               justify-content: center;
}
.title{
               font-size: 50px;
               font-family: cursive;
               letter-spacing: 0.03em;
               text-align: center;
               color: yellow;
}